<a href="https://colab.research.google.com/github/parkyanghu/Machine-Learning1901266/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

In [20]:
a=pd.Series([7, 3, 5, 8])

In [27]:
x=pd.Series([7, 3, 5, 8],index=['A','B','C','D'])

In [31]:
x[['A','B']]

A    7
B    3
dtype: int64

In [32]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [33]:
x.values

array([7, 3, 5, 8])

In [34]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [35]:
print(sorted(x.values))

[3, 5, 7, 8]

In [42]:
x=pd.Series([7,3,5,8],index=['dog','cat','padas','turtle'])
x

dog       7
cat       3
padas     5
turtle    8
dtype: int64

In [43]:
sorted(x.index)

['cat', 'dog', 'padas', 'turtle']

In [14]:
age={'민준':23,'현우':43,'서연':12,'동헌':45}

In [46]:
x.reindex(sorted(x.index))

cat       3
dog       7
padas     5
turtle    8
dtype: int64

In [47]:
x=pd.Series([7,3,5,8],index=['dog','cat','padas','turtle'])
y=pd.Series([2,4,5,1],index=['cat','pandas','dog','penguin'])

x+y

cat         5.0
dog        12.0
padas       NaN
pandas      NaN
penguin     NaN
turtle      NaN
dtype: float64

In [48]:
val=[1,3,2,4,2,3,]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 4])

In [49]:
age={'민준':23,'현우':43,'서연':12,'동헌':45}

In [50]:
pdata=pd.Series(age)

In [51]:
pdata

민준    23
현우    43
서연    12
동헌    45
dtype: int64

In [61]:
names=['민준','서연','현우','민서','동현','수빈']
pdata=pd.Series(names)
pdata

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [66]:
a=pdata[3:6]
print(a)

3    민서
4    동현
5    수빈
dtype: object

In [71]:
data={'age':[23,43,12,45],'name':['민준','현우','서연','동현'],'height':[175.3,180.3,165.8,172.7]}
x=pd.DataFrame (data, columns=['name','age','height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

In [72]:
x.name

0    민준
1    현우
2    서연
3    동현
Name: name, dtype: object

In [73]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary)
data

   0  1
0  1  2
1  3  4
2  5  6

In [74]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary,columns=['First','second'])
data

   First  second
0      1       2
1      3       4
2      5       6

In [75]:
data.iloc[1]

First     3
second    4
Name: 1, dtype: int64

In [76]:
data.iloc[:,1]

0    2
1    4
2    6
Name: second, dtype: int64

In [78]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary,columns=['First','second'])
data

   First  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [79]:
data.head()

   First  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [80]:
data.head(3)

   First  second
0      1       2
1      3       4
2      5       6

In [81]:
data.tail()

   First  second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [82]:
data.tail(3)

   First  second
4      9      10
5     11      12
6     13      14

In [83]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','second'])
data

   First  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [84]:
bools=[False,True,True,False,True]
data[bools]

   First  second
1      3       4
2      5       6
4      9      10

In [85]:
bools=[False,True,True,False,True]
data.second[bools]

1     4
2     6
4    10
Name: second, dtype: int64

In [86]:
data={'age':[23,43,12,45],'name':['민준','현우','서연','동현'],'height':[175.3,180.3,165.8,172.7]}
x=pd.DataFrame (data, columns=['name','age','height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

In [88]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        30.750
height    173.525
dtype: float64

In [89]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0     99.15
1    111.65
2     88.90
3    108.85
dtype: float64

In [90]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','second'])
data

   First  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [91]:
data['First']=data['First'].astype('float')
data

   First  second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10