<a href="https://colab.research.google.com/github/parkyanghu/Machine-Learning1901266/blob/main/%EB%B0%95%EC%96%91%ED%9B%84_7%EA%B0%958%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import seaborn as sns

In [12]:
import pandas as pd

In [16]:
titinic=sns.load_dataset("titanic")
titinic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [15]:
tips=sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [18]:
iris=sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [24]:
import numpy as np

In [27]:
x=np.ramdom.rand(100)
eps=np.random.rand(100)/1.5
y=3*x+1+eps

plt.plot(x,y,'.')
plt.show()

AttributeError: ignored

In [34]:
a=0
b=0
alpha=0.01
n=100
err_evolve=[]
it_index=[]
for it in range(2000):
  delta_a=0
  delta_b=0
  
  err=0
  for i in range(n):
   delta_a=delta_a+2*(a*x[i]+b-y[i])*x[i]
   delta_a=delta_b+2*a(*x[i]+b-y[i])
   err=err+(a*x[i]+b-y[i])*(a*x[i]+b-y[i])/n
  a=a-alpha*delta_a/n
  b=a+alpha*delta_b/n

TypeError: ignored